<nav class="navbar navbar-fixed-top navbar-custom" [ngClass]="{'top-nav-collapse': isPageScrolledDown()}" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand">
        <h1>
          <span class="hidden-sm hidden-xs" routerLink="/home" routerLinkActive="active">St. Chubby Golf Classic<br/></span>
          <span class="hidden-lg hidden-md" routerLink="/home" routerLinkActive="active">St. Chubby Golf</span>
        </h1>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
        <li><a routerLink="/sponsor" routerLinkActive="active">Sponsor</a></li>
        <li><a routerLink="/location" routerLinkActive="active">Location</a></li>
        <!--<li><a routerLink="/gallery" routerLinkActive="active">Gallery</a></li>-->
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
