<!-- Section: contact -->
<section>

  <div class="container">
    <section-header [text]="'Contact'"></section-header>

    <div class="row">
      <div class="col-lg-8 col-md-6 col-md-offset-1">
        <div class="boxed-grey">

          <form id="contact-form" name="contact" method="POST" data-netlify="true" netlify-honeypot="bot-field">
            <div class="row">
              <div class="col-md-6">

                <div class="form-group hidden">
                  <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
                </div>

                <div class="form-group">
                  <label for="name">
                    Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Name" required="required" />
                </div>

                <div class="form-group">
                  <label for="phone">
                    Last Name</label>
                  <input type="phone" class="form-control" id="phone" placeholder="Phone" required="required" />
                </div>

                <div class="form-group">
                  <label for="email">
                    Email Address</label>
                  <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                    </span>
                    <input type="email" class="form-control" id="email" placeholder="Email" required="required" /></div>
                </div>

                <div class="form-group">
                  <label for="subject">
                    Subject</label>
                  <select id="subject" name="subject" class="form-control" required="required">
                    <option value="na" selected="">Choose One:</option>
                    <option value="sponsor">Sponsorship</option>
                    <option value="registration">Registration</option>
                    <option value="general">General</option>
                  </select>
                </div>

              </div>

              <div class="col-md-6">

                <div data-netlify-recaptcha="true"></div>

                <div class="form-group">
                  <label for="message">
                    Message</label>
                  <textarea name="message" id="message" class="form-control" rows="11" cols="25" required="required"
                            placeholder="Message"></textarea>
                </div>

              </div>
              <div class="col-md-12">
                <button type="submit" class="btn btn-skin pull-right" id="btnContactUs">Send Message</button>
              </div>
            </div>
          </form>

        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="widget-contact">
          <!-- <h5>Main Office</h5>

          <address>
          <strong>Squas Design, Inc.</strong><br>
          Tower 795 Folsom Ave, Beautiful Suite 600<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">P:</abbr> (123) 456-7890
      </address> -->

          <!--<address>-->
            <!--<strong>Webmaster</strong><br>-->
            <!--<a href="mailto:#">webmaster@stchubby.com</a>-->
          <!--</address>-->
          <!--<address>-->
            <!--<strong>Bill May</strong><br>-->
            <!--<strong>512-217-0949</strong><br>-->
            <!--<a href="mailto:bmayaustin@aol.com">bmayaustin@aol.com</a>-->
          <!--</address>-->
          <!--<address>-->
            <!--<strong>Fred Hardaway</strong><br>-->
            <!--<strong>512-288-0438</strong><br>-->
            <!--<a href="mailto:fredhardaway@sbcglobal.net">fredhardaway@sbcglobal.net</a>-->
          <!--</address>-->
          <address>
            <strong>We're on social networks</strong><br>
            <ul class="company-social">
              <li class="social-facebook"><a href="https://www.facebook.com/stchubby" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li class="social-twitter"><a href="https://twitter.com/StChubbyGolf" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </address>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- /Section: contact -->
