<!-- Section: mission -->
<section id="mission" class="home-section text-left">
  <div class="heading-about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown" data-wow-delay="0.1s">
            <div class="section-heading text-center">
              <h2>Mission</h2>
              <!-- <i class="fa fa-2x fa-angle-down"></i> -->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="wow bounceInUp" data-wow-delay="0.1s">
            <div class="text-left">
              <p>
                With the passing of B.L. (Chubby) May on Memorial Day in 2001, the loss was felt far beyond family and friends,
                but also throughout the community he served for over 30 years as Santa<br/><br/>

                Chubby's favorite time of the year was the Christmas season when he would put on one of his handmade Santa suits
                that wife Pat made to bring cheer and joy to countless people. Through the years you could never be sure of his mode
                of transportation. Sometimes he would arrive in a police car, firetruck, helicopter and even arrive driving a covered
                wagon pulled by a team of mules among other's. Over the years he would visit schools, churches, nursing homes, childrens
                homes, to name a few, (sometimes up to 5 a day), never failing to bring his "A" game so he could bring smiles to all.<br/><br/>

                THE <span class="redText"><b>TRADITION</b></span> is born. During his eulogy his friend and minister was discussing Chubby's love for God, family, the Marines,
                golf and his love for his portrayal of Santa, saying that God had taken one of his Saints, and how much he would be missed by
                so many people. A few day's after Chubby's funeral a small group of guys' were talking about the service over afternoon kool-aid,
                deciding to do something to honor him for his many years of service as Santa. Thus the <span class="redText"><b>TRADITION</b></span> WAS BORN. It was decided that a
                golf tournament would be held in his memory to try and raise money to help the less fortunate at Christmas.<br/><br/>

                THE <span class="redText"><b>TRADITION</b></span> continues: The first years were very lean, but with the determination of the original core group, as well as many
                new volunteers and sponsors, the St. Chubby Golf Classic has grown every year and is able to spend THOUSANDS of dollars in Austin
                and surrounding areas by providing toys, clothes, food and household items to families at Christmas.<br/><br/>

                Every year during the Christmas season as we are adopting families, as well as the planning stages for the tournament, the people
                that were fortunate enough to have known "St. Chubby" share laugh's, pictures and memories of how he could put a smile on any face
                when he had his red suit on, and how many people he touched.<br/><br/>

                I am one of the fortunate that saw him appear many times as Santa, and it always was amazing how much he loved every minute of being
                Santa. I know how much he loved it as he was my Best Friend and Father.<br/><br/>

                -Bill May, President, St. Chubby Golf Classic

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Section: mission -->
