<!-- Section: mission -->
<section id="mission" class="home-section">
  <div class="container">

    <section-header [text]="'Mission'"></section-header>

    <div class="row">
      <div class="col-lg-12">
        <div class="wow bounceInUp" data-wow-delay="0.1s">
          <div class="text-center">
            <p style="font-size: 20px;">
              We provide Christmas to families in need by following in the footsteps of B.L. (Chubby) May. We believe that every child deserves the joy of Christmas.
            </p>
          </div>
        </div>
      </div>
    </div>

    <button-container>
      <button type="button" class="btn btn-skin" routerLink="/about" routerLinkActive="active">Learn More</button>
    </button-container>

  </div>
</section>
<!-- /Section: mission -->
