<div class="home">

  <intro [tournamentDate]="tournamentDate"></intro>

  <section class="bg-white">
    <div class="container">

      <section-header [text]="'COVID-19 Update'"></section-header>

      <div class="row">
        <div class="col-lg-12">
          <div class="wow bounceInUp" data-wow-delay="0.1s">
            <div class="text-center">
              <p style="font-size: 20px;">
                Dear St. Chubby friends,<br/><br/>

                After careful consideration we have made the decision to postpone all upcoming and in-person events for the 2020 year due to the COVID-19 epidemic.&nbsp;
                Unfortunately this includes our scheduled fundraising golf tournament in April.&nbsp;
                Our first and foremost priority is for your health and well-being. This includes families, friends, households, and colleagues.
                In light of current and rapidly changing developments surrounding the spread of COVID-19,&nbsp;
                we believe that rescheduling these events is the best way we can help ensure everyone’s safety, deliver the quality event you expect and support
                our charity.<br/><br/>

                We apologize for any inconvenience this may cause and appreciate your patience as we navigate these unexpected circumstances.<br/><br/>

                We thank you for your continued support of St. Chubby during these unprecedented times. We wish you and your families good health.<br/><br/>
                ﻿
                All the best,<br/>
                Bill May & the St. Chubby Board of Directors
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>


  <mission></mission>
  <!--<news></news>-->
  <!--<home-location [tournamentDate]="tournamentDate"></home-location>-->
  <!--<countdown [tournamentDate]="tournamentDate"></countdown>-->
  <!--<home-sponsors></home-sponsors>-->

</div>
