<section>
  <div class="container">

    <section-header [text]="'Sponsorship'"></section-header>

    <div class="row">
      <div class="col-lg-12">
        <div class="wow bounceInUp" data-wow-delay="0.1s">
          <div class="text-center">
            <p style="font-size: 20px;">
              Call for 2021 Sponsors! Please visit our Sponsors page to find out how you can contribute. The St. Chubby Memorial would
              like to thank all of our 2020 sponsors!
            </p>
          </div>
        </div>
      </div>
    </div>

    <!--<button-container>-->
    <!--<button type="button" class="btn btn-skin" routerLink="/sponsor" routerLinkActive="active">Sponsors</button>-->
    <!--</button-container>-->

    <!--<sub-header>Premier</sub-header>-->
    <!--<sub-header>Platinum</sub-header>-->
    <!--<div class="row">-->
      <!--<div class="col-xs-6 col-md-4 text-center" style="size: 1em">-->
        <!--<div class="logo">-->
          <!--<img src="../../../../assets/logos/L_O_Logo01.gif" class="img-responsive" style="max-height: 150px; margin-left: auto; margin-right: auto" />-->
        <!--</div>-->
        <!--<p><b>L & O Electric</b></p>-->
      <!--</div>-->
    <!--</div>-->
    <!--<sub-header>Gold</sub-header>-->
    <!--<sub-header>Silver</sub-header>-->
    <!--<sub-header>Bronze</sub-header>-->
    <!--<div class="row">-->
    <!--<div class="col-xs-6 col-md-2 text-center" style="size: 1em">-->
    <!--Jason's Custom Paint and Body-->
    <!--</div>-->
    <!--</div>-->

  </div>
</section>
