<!-- Section: tournamentInfo -->
<section id="tournamentInfo" class="home-section text-center">
  <div class="heading-about">

    <div class="container">

      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown" data-wow-delay="0.2s">
            <div class="section-heading">
              <h2>Tournament Information</h2>
              <!-- <i class="fa fa-2x fa-angle-down"></i> -->
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>

      <div class="row">
        <div class="wow bounceInDown" data-wow-delay="0.2s">
          <div class="text-center">
            <a href="forms/Flyer.pdf" target="_blank"><button type="button" class="btn btn-skin" id="btnFlyer">Tournament Flyer</button></a><br/><br/><br/>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-sm-3 col-md-3 col-lg-3">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <!--<div class="service-box">
                 <div class="service-icon">
                <img src="img/icons/service-icon-2.png" alt="" />
            </div> -->
            <div class="service-desc">
              <h4>When</h4>
              <p>Saturday, April 16th 2016<br/>7:00 AM Registration<br/>8:30 AM Shotgun Start<br/>1:00 PM Lunch<br/>2:00 PM Awards & Auction</p>
            </div>
          </div>
        </div>

        <div class="col-sm-3 col-md-3 col-lg-3">
          <div class="wow fadeInLeft" data-wow-delay="0.2s">
            <!--<div class="service-box">
                 <div class="service-icon">
                <img src="img/icons/service-icon-1.png" alt="" />
            </div> -->
            <div class="service-desc">
              <h4>Location</h4>
              <p>Plum Creek Golf Course<br/>750 Kohlers Crossing<br/>Kyle, TX 78640<br/>United States<br/>(512) 262-5555</p>
            </div>
          </div>
        </div>

        <div class="col-sm-3 col-md-3 col-lg-3">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <!--<div class="service-box">
                 <div class="service-icon">
                <img src="img/icons/service-icon-3.png" alt="" />
            </div> -->
            <div class="service-desc">
              <h4>Highlights</h4>
              <p>5 Hole In One Challenges<br/>Closest To The Pin & Long Drive<br/>Lunch For Two Included<br/>Raffle and Live Auction<br/>Participant Gift Bag</p>
            </div>
          </div>
        </div>

        <div class="col-sm-3 col-md-3 col-lg-3">
          <div class="wow fadeInRight" data-wow-delay="0.2s">
            <!--<div class="service-box">
                <div class="service-icon">
                <img src="img/icons/service-icon-4.png" alt="" />
            </div> -->
            <div class="service-desc">
              <h4>Register</h4>
              <p>
                <a href="https://squareup.com/market/st-chubby-memorial" target="_blank"><button type="button" class="btn btn-skin" id="btnRegisterOnline">Online</button></a><br/><br/>
                <a href="forms/RegistrationForm.pdf" target="_blank"><button type="button" class="btn btn-skin " id="btnRegisterForm">Mail In Form</button></a>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div id="map"></div>
</section>
<!-- /Section: tournamentInfo -->
