.app-container {
  width: 100%;
  overflow: hidden;
}

main {
  min-height: 100vh;
  padding-top: 81px;
  padding-bottom: 50px;
}

/* Phones */
@media (max-width : 768px) {
  main {
    padding-top: 50px;
  }
}
