.intro {
  width:100%;
  min-height: 100%;
  position:relative;
  padding: 3% 0;
}

.intro .slogan {
  text-align: center;

}

.intro .page-scroll {
  text-align: center;
}

.brand-heading {
  font-size: 40px;
}

.intro-text {
  font-size: 18px;
}

.intro .slogan h2 {
  color: #FFF;
  font-size: 60px;
  line-height: 25px;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  border: 0px none #000;
  text-shadow: -1px 0 1px #000;
}

.intro .slogan h4 {
  color: #fff;
  text-shadow: -1px 1px 1px #000;
}

section {
  padding: 0;
}

.logo {
  text-align: center;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .logo {
    margin-bottom: 10px;
  }
}
