<!-- Section: intro -->
<section>
  <div id="intro" class="container-fluid intro" style="background: url(../../assets/img/bg3.jpg) no-repeat top center;">

    <div class="row">
      <div class="col-md-12">
        <div class="logo">
          <img src="../../assets/img/logo.png" />
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="slogan med text-center">
          <h2><span class="color-red">St. Chubby Golf Classic</span></h2>
          <h3><span class="color-red">{{ tournamentDate | date:'fullDate' }} - Plum Creek Golf Course</span></h3>
        </div>
      </div>
    </div>

    <button-container>
      <div class="col marginbot-10 justify-content-center">
        <button type="button" class="btn btn-skin waves-light mx-2"routerLink="/tournament" routerLinkActive="active">Register</button>
        <button type="button" class="btn btn-skin mx-2" routerLink="/sponsor" routerLinkActive="active">Sponsor</button>
      </div>
    </button-container>

  </div>
</section>
<!-- /Section: intro -->
