<!-- Section: intro -->
<section>
  <div id="intro" class="container-fluid intro" style="background: url(../../assets/img/bg3.jpg) no-repeat top center;">

    <div class="row">
      <div class="col-md-12">
        <div class="logo">
          <img src="../../assets/img/logo.png" />
        </div>
      </div>
      <div class="col-md-12">
        <div class="slogan med hidden-s hidden-xs">
          <h2><span class="color-red">St. Chubby Golf Classic</span> <!-- <span class="text_color">SQUAD</span> --> </h2>
          <!--<h3><span class="color-red">{{ tournamentDate | date:'fullDate' }} - Plum Creek Golf Course</span></h3>-->
        </div>
        <div class="slogan small hidden-m hidden-lg">
          <h2><span class="color-red">St. Chubby Golf Classic</span> <!-- <span class="text_color">SQUAD</span> --> </h2>
          <!--<h3><span class="color-red">{{ tournamentDate | date:'fullDate' }}<br/>Plum Creek Golf Course</span></h3>-->
        </div>
      </div>
    </div>

    <!--<button-container>
      <div class="col-xs-12 marginbot-10 text-center">
        <button type="button" class="btn btn-skin" style="margin: 10px;" routerLink="/tournament" routerLinkActive="active">Golf Details</button>
        <button type="button" class="btn btn-skin" style="margin: 10px;" routerLink="/sponsor" routerLinkActive="active">Sponsor</button>
      </div>
    </button-container>-->-->

  </div>
</section>
<!-- /Section: intro -->
