<!-- Section: sponsor -->
<section>

  <section-header [text]="'Sponsor'"></section-header>

  <div class="container">

    <div class="row">
      <div class="col">
        <div class="text-center">
          <p>
            Sponsorship Packages $100.00 - $450.00. Please fill out the form below with your selection.
            We ask that all sponsorship requests are made no later than April 7th, 2016
            . Please see
            Sponsorship Form for Sponsorship Levels and additional details. Contact Bill May at 512-217-0949 /
            512-280-7933 <a href="mailto:bmayaustin@aol.com">bmayaustin@aol.com</a>.
          </p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col text-center">
        <a href="../../../assets/forms/SponsorSignForm.pdf" target="_blank"><button type="button" class="btn btn-skin" id="btnFlyer">Sponsorship Form</button></a><br/><br/><br/>
      </div>
    </div>

    <div class="row">

      <ng-container *ngFor="let sponsorLevel of sponsorLevels">
        <div class="col px-0">
          <!-- Price Table Item -->
          <div class="price-table text-center">
            <div class="price-table-heading">
              <h4 class="title">{{ sponsorLevel.title }}</h4>
            </div>
            <div class="price-table-body">
              <p class="value">{{ sponsorLevel.price }}</p>
            </div>
            <ul class="list-group">
              <li class="list-group-item"><i class="icon-ok text-success"></i>{{ sponsorLevel.signSize }}</li>
              <li class="list-group-item"><i class="icon-ok text-success"></i>{{ sponsorLevel.text1 }}</li>
              <li class="list-group-item"><i class="icon-ok text-success"></i>{{ sponsorLevel.text2 }}</li>
            </ul>
            <!-- <div class="price-table-footer"> <a class="btn btn-lg btn-success" href="#">BUY NOW!</a> </div> -->
          </div>
          <!-- END Price Table Item -->

          <!-- START: Will be visible in tablet and mobile devices to make gap between tow price items -->
          <div class="col-xs-12 col-sm-12 margin-bottom-20"></div>
          <!-- END: Will be visible in tablet and mobile devices to make gap between tow price items -->
        </div>
      </ng-container>

    </div>
  </div>
</section>
<!-- /Section: sponsor -->
