<!-- Section: sponsor -->
<section>

  <section-header [text]="'Sponsor'"></section-header>

  <div class="container">

    <div class="row">
      <div class="text-center">
        <p>
          Sponsorship Packages $100.00 - $450.00. Please fill out the form below with your selection.
          We ask that all sponsorship requests are made no later than April 6th, 2018
          . Please see
          Sponsorship Form for Sponsorship Levels and additional details. Contact Bill May at 512-217-0949 /
          512-280-7933 <a href="mailto:bmayaustin@aol.com">bmayaustin@aol.com</a>.
        </p>
        <br/>
      </div>
    </div>

    <div class="row">
      <div class="text-center">
        <a href="../../../assets/forms/SponsorSignForm.pdf" target="_blank"><button type="button" class="btn btn-skin" id="btnFlyer">Sponsorship Form</button></a><br/><br/><br/>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-2 col-md-offset-1 no-gutter">
        <!-- Price Table Item -->
        <div class="price-table text-center">
          <div class="price-table-heading">
            <h4 class="title">Bronze</h4>
          </div>
          <div class="price-table-body">
            <p class="value">$100</p>
          </div>
          <ul class="list-group">
            <li class="list-group-item"><i class="icon-ok text-success"></i>24” x 15” Sign</li>
            <li class="list-group-item"><i class="icon-ok text-success"></i>Sign placed on various tee boxes throughout the course</li>
            <li class="list-group-item"><i class="icon-ok text-success"></i>Company mention on the St. Chubby Website.</li>
          </ul>
          <!-- <div class="price-table-footer"> <a class="btn btn-lg btn-success" href="#">BUY NOW!</a> </div> -->
        </div>
        <!-- END Price Table Item -->

        <!-- START: Will be visible in tablet and mobile devices to make gap between tow price items -->
        <div class="col-xs-12 col-sm-12 margin-bottom-20"></div>
        <!-- END: Will be visible in tablet and mobile devices to make gap between tow price items -->
      </div>

      <div class="col-xs-12 col-sm-6 col-md-2 no-gutter">
        <!-- Price Table Item -->
        <div class="price-table text-center">
          <div class="price-table-heading">
            <h4 class="title">Silver</h4>
          </div>
          <div class="price-table-body">
            <p class="value">$250</p>
          </div>
          <ul class="list-group">
            <li class="list-group-item"><i class="icon-ok text-success"></i>24” x 30” Sign</li>
            <li class="list-group-item"><i class="icon-ok text-success"></i>Sign placed at various premium golf course locations</li>
            <li class="list-group-item"><i class="icon-ok text-success"></i>Company mention on the St. Chubby Website</li>
          </ul>
          <!-- <div class="price-table-footer"> <a class="btn btn-lg btn-success" href="#">BUY NOW!</a> </div> -->
        </div>
        <!-- END Price Table Item -->

        <!-- START: Will be visible in tablet and mobile devices to make gap between tow price items -->
        <div class="col-xs-12 col-sm-12 margin-bottom-20"></div>
        <!-- END: Will be visible in tablet and mobile devices to make gap between tow price items -->
      </div>

      <div class="col-xs-12 col-sm-6 col-md-2 no-gutter">
        <!-- Price Table Item -->
        <div class="price-table text-center">
          <div class="price-table-heading">
            <h4 class="title">Gold</h4>
          </div>
          <div class="price-table-body">
            <p class="value">$350</p>
          </div>
          <ul class="list-group">
            <li class="list-group-item"><i class="icon-ok text-success"></i>2’ x 6’ Banner</li>
            <li class="list-group-item"><i class="icon-ok text-success"></i>Banner placed at various premium locations</li>
            <li class="list-group-item"><i class="icon-ok text-success"></i>Company mention on the St. Chubby Website</li>
          </ul>
          <!-- <div class="price-table-footer"> <a class="btn btn-lg btn-success" href="#">BUY NOW!</a> </div> -->
        </div>
        <!-- END Price Table Item -->

        <!-- START: Will be visible in tablet and mobile devices to make gap between tow price items -->
        <div class="col-xs-12 col-sm-12 margin-bottom-20"></div>
        <!-- END: Will be visible in tablet and mobile devices to make gap between tow price items -->
      </div>

      <div class="col-xs-12 col-sm-6 col-md-2 no-gutter">
        <!-- Price Table Item -->
        <div class="price-table text-center">
          <div class="price-table-heading">
            <h4 class="title">Platinum</h4>
          </div>
          <div class="price-table-body">
            <p class="value">$450</p>
          </div>
          <ul class="list-group">
            <li class="list-group-item"><i class="icon-ok text-success"></i>4’ x 8’ Banner</li>
            <li class="list-group-item"><i class="icon-ok text-success"></i>Banner placed at entrance or registration table</li>
            <li class="list-group-item"><i class="icon-ok text-success"></i>Company logo on the St. Chubby Website</li>
          </ul>
          <!-- <div class="price-table-footer"> <a class="btn btn-lg btn-success" href="#">BUY NOW!</a> </div> -->
        </div>
        <!-- END Price Table Item -->

        <!-- START: Will be visible in tablet and mobile devices to make gap between tow price items -->
        <div class="col-xs-12 col-sm-12 margin-bottom-20"></div>
        <!-- END: Will be visible in tablet and mobile devices to make gap between tow price items -->
      </div>

      <div class="col-xs-12 col-sm-6 col-md-2 no-gutter">
        <!-- Price Table Item -->
        <div class="price-table text-center">
          <div class="price-table-heading">
            <h4 class="title">Diamond</h4>
          </div>
          <div class="price-table-body">
            <p class="value">$2000</p>
          </div>
          <ul class="list-group">
            <li class="list-group-item"><i class="icon-ok text-success"></i>4’ x 8’ Banner</li>
            <li class="list-group-item"><i class="icon-ok text-success"></i>Banner placed at dinner location & 2 team registration included</li>
            <li class="list-group-item"><i class="icon-ok text-success"></i>Company logo on the St. Chubby Website</li>
          </ul>
          <!-- <div class="price-table-footer"> <a class="btn btn-lg btn-success" href="#">BUY NOW!</a> </div> -->
        </div>
        <!-- END Price Table Item -->

        <!-- START: Will be visible in tablet and mobile devices to make gap between tow price items -->
        <div class="col-xs-12 col-sm-12 margin-bottom-20"></div>
        <!-- END: Will be visible in tablet and mobile devices to make gap between tow price items -->
      </div>

    </div>
  </div>
</section>
<!-- /Section: sponsor -->
