<section class="bg-white">

  <div class="container">

    <section-header [text]="'Golf Tournament'"></section-header>

    <div class="row">
      <div class="col-lg-12">
        <div class="wow bounceInUp" data-wow-delay="0.1s">
          <div class="text-center">
            <p style="font-size: 20px;">
              Join us for a fun day of golf, {{ tournamentDate | date:'fullDate' }} at Plum Creek Golf Course in Kyle, Texas! Best ball scramble format, prizes and food provided.
              All proceeds going to children during the Christmas Season!
            </p>
          </div>
        </div>
      </div>
    </div>

    <button-container>
      <button type="button" class="btn btn-skin" routerLink="/tournament" routerLinkActive="active">See More Details</button>
    </button-container>

  </div>

</section>
