<div class="countdown-timer clearfix">
  <div class="countdown-timer-fields text-center">
    <div class="countdown-field">
      <span>{{ days }}</span>
      <div>Days</div>
    </div>
    <div class="countdown-field">
      <span>{{ hours }}</span>
      <div>Hours</div>
    </div>
    <div class="countdown-field">
      <span>{{ minutes }}</span>
      <div>Min</div>
    </div>
    <div class="countdown-field">
      <span>{{ seconds }}</span>
      <div>Sec</div>
    </div>
  </div>
</div>
