<!-- Section: mission -->
<section>
  <div class="container">

    <section-header [text]="'Register'"></section-header>

    <div class="row">
      <div class="col-sm-12">
        <div class="wow bounceInUp" data-wow-delay="0.1s">
          <sub-header>2 Ways To Register</sub-header>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="wow bounceInUp" data-wow-delay="0.1s">
          <div class="text-center">
            <p>
              Visit Our Square Site and Register Online
            </p>
            <a href="https://squareup.com/market/st-chubby-memorial" target="_blank"><button type="button" class="btn btn-skin" id="btnRegisterOnline">Online</button></a><br/>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="wow bounceInUp" data-wow-delay="0.1s">
          <div class="text-center">
            <p>
              Fill Out Our Mail In Form
            </p>
            <a href="../../assets/forms/RegistrationForm.pdf" target="_blank"><button type="button" class="btn btn-skin " id="btnRegisterForm">Mail In Form</button></a><br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Section: mission -->
