<nav class="navbar navbar-fixed-top navbar-custom" [ngClass]="{'top-nav-collapse': isPageScrolledDown()}" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="toggleNav()">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand">
        <h1>
          <span class="hidden-sm hidden-xs" routerLink="">St. Chubby Golf Classic<br/></span>
          <span class="hidden-lg hidden-md" routerLink="">St. Chubby Golf</span>
        </h1>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse" [ngClass]="{'collapse': collapse}">
      <ul class="nav navbar-nav">
        <li><a routerLink="" routerLinkActive="active" (click)="toggleNav()">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active" (click)="toggleNav()">About</a></li>
        <li><a (click)="window.open('https://st-chubby-memorial.square.site/sponsor', '_blank')">Sponsor</a></li>
        <li><a (click)="window.open('https://st-chubby-memorial.square.site/registration', '_blank')">Tournament</a></li>
        <!--<li><a routerLink="/gallery" routerLinkActive="active">Gallery</a></li>-->
        <li><a routerLink="/contact" routerLinkActive="active" (click)="toggleNav()">Contact</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
