<nav class="navbar navbar-expand-md fixed-top navbar-custom" [ngClass]="{'top-nav-collapse': isPageScrolledDown()}" role="navigation">
  <div class="container">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>

    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" >-->
    <!--<span class="navbar-toggler-icon"></span>-->
    <!--</button>-->
    <a class="navbar-brand">
      <h1>
        <span class="hidden-sm hidden-xs" routerLink="/home" routerLinkActive="active">St. Chubby Golf Classic<br/></span>
        <!--<span class="hidden-lg hidden-md" routerLink="/home" routerLinkActive="active">St. Chubby Golf</span>-->
      </h1>
    </a>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="nav navbar-nav ml-auto">
        <ng-container *ngFor="let link of links">
          <li class="px-4"><a [routerLink]="link.url" routerLinkActive="active">{{ link.text }}</a></li>
        </ng-container>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
